@require 'nib';
@require '_reset';

// vars
$maxWidth = 400px;
$darkestGrey = #121314;
$darkGrey = #222226;

// layout
body, html {
  // height: 100%;
}
body {
  background-color: $darkestGrey;
  overflow-x: hidden;
  overflow-y: scroll;
}

// type
body {
  font-family: Helvetica, sans-serif;
  color: #fff;
}
.hN {
}
h1, .h1 {
  font-size: 30px;
}
h2, .h2 {
  font-size: 24px;
}
h3, .h3 {
  font-size: 20px;
}
h4, .h4 {
  font-size: 16px;
}
h5, .h5,
h6, .h6 {
  font-size: 12px;
}
a {
  &:active,
  &:link,
  &:visited {
    color: rgba(#fff, 0.7);
  }
  &:hover,
  &:focus {
    color: #fff;
  }
}

.hN, p, li {
  margin-bottom: 20px;
}

p {
  line-height: 1.4;
}

.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}
.list-horizontal {
  li {
    display: inline-block;
    margin: 10px;
  }
}

// header
.main-header {
  background-color: $darkGrey;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  width: 100%;
}
// branding
.branding {
  text-align: center;
}

// footer
.main-footer {
  background-color: $darkGrey;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

// main
.main {
  max-width: $maxWidth;
  margin: 0 auto;
  overflow: scroll;
  padding: 20px 0;
  width: 100%;
}